.imgStyle{
  width: 175px;
}

.CompCart{
  height: auto;
  width: 100%;
  margin-top:120px;
} 

.amount{
  color: darkslategrey;
  position: absolute;
  left: 47.5%;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  top: 90px
}

.Pay{
  position: relative;
  left: 100%;
  top: 50px
}

.ListBoxs{
  display: flex;
  justify-content: center;
  margin: 30px;
  width: 200px;
  
}

.remv{
  float: right;
  margin: 10px;
}

.Text{
  font-family: 'Raleway', sans-serif;
}

.qntty{
  margin: 10px;
  margin-left: 0px;
}

.List{
  position: relative;
  font-family: 'Raleway', sans-serif;
}

.amnts{
  margin-left: 20%;
  width: 50%
}

.paybtn{
  position: relative;
  margin-left: 54.5%;
  margin-top: 15px;
}

.userinfo2{
  width: 600px;
  height: 500px;
  position: fixed;
  z-index: 2;
  left: 50%;
  bottom: 20%
}

.usersDisplay{
  height: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.658);
  padding: 15px;
  border-radius: 20px
}

.Send{
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

@media (max-width: 500px){
  .userinfo2{
    width: 405px;
    height: 310px;
    left: 1%;
    z-index: 1;
    bottom: 1px;
    display: none
  }

  .usersDisplay{
    display: none;
    height: 290px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.658);
    padding: 15px;
    border-radius: 20px
  }

  .amnts{
    margin-left: 20%;
    width: 50%
  }

  .paybtn{
    position: relative;
    margin-left: 20%;
    margin-top: 15px;
    top: 10px
  }

  .amount{
    color: darkslategrey;
    position: absolute;
    left: 32%;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    top: 90px;
  }
}