.ProdcAppOut{
  background-image: url('https://cdn.allwallpaper.in/wallpapers/1920x1080/13006/green-water-nature-trees-outdoors-rivers-forest-1920x1080-wallpaper.jpg');
  position: sticky;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200vh;
}

@media (max-width: 500px){
  .ProdcAppOut{
    position: sticky;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 561vh;
    background-position: center center
  }
  
}