.SelImg{
  width: 450px;
  margin-left: 150px; 
  float: left;
}

.SelectDiv{
  position: relative;
  margin-top: 150px;
  font-family: 'Raleway', sans-serif; 
}

.Selback{
  width: 1760px;
  height: 80vh
}

.SelProdName{
  font-size: 28px;
  margin-bottom: 15px;
  margin-left: 40%;
}

.SelPrice{
  margin-left: 40%;
  font-size: 22px;
  margin-bottom:15px
}

.descrptn{
  margin-left: 39%;
  margin-right:50px;
  font-size:18px;
}

.addToCart{
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: blue;
  float: right;
  position: relative;
  right: 6%;
  margin-top:30px;
  border: solid black 1px;
  background-color: gold;
  box-shadow: 1px 1px; 
  cursor: pointer;
}

.reviews{
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-top: 150px;
}

.givreviw{
  font-family: 'Raleway', sans-serif;
  position: relative;
  left: 9%;
  margin-top: 5px;
}

@media (max-width: 500px){
  .SelImg{
    width: 250px;
    margin-left: 20%; 
    float: left;
  }

  .Selback{
    width: 414px;
    height: 80vh
  }

  .SelProdName{
    font-size: 28px;
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 20%;
  }

  .SelPrice{
    margin-left: 20%;
    font-size: 22px;
    margin-bottom:15px
  }

  .descrptn{
    margin-left: 16%;
    margin-right:50px;
    font-size:18px;
  }

  .addToCart{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: blue;
    float: right;
    position: relative;
    right: 35%;
    margin-top:30px;
    border: solid black 1px;
    background-color: gold;
    box-shadow: 1px 1px; 
  }
}