.ProdcAppGad{
  background-image: url('https://images7.alphacoders.com/313/313727.jpg');
  position: sticky;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200vh;
}

@media (max-width: 500px){
  .ProdcAppGad{
    position: sticky;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500vh;
    background-position: center center
  }
  
}