.aboutCont{
  height: 600px;
  padding: 190px 220px 190px 220px;

}

.tittleAbout{
  color: black;
  font-size: 28px;
  position: relative;
  margin-bottom: 50px;
  animation-name: move;
  animation-duration: 1s;
}

.aboutText{
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: rgb(63, 62, 62);
  animation-name: move1;
  animation-duration: .8s;
  position: relative;
}

@keyframes move{
  0% {left: -500px;}
  100%{left: 0px;}
}

@keyframes move1{
  0%{left: 2000px}
  100%{left: 0px}
}