*{
  box-sizing: border-box
}

 .Home{
  background-image: url(https://wallpaper-house.com/data/out/8/wallpaper2you_247909.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center center; 
} 


.CatgName{
  display: flex;
  justify-content: center;
  margin: 75px;
  font-family: 'Raleway', sans-serif;
  color:whitesmoke;
}


.shadow{
  background-color: rgba(0, 0, 0, 0.349);
  display: flex;
  justify-content: center;
  height: 92vh;
  margin-left: 40%;
  margin-right: 40%;
  position: relative;
  top: 74px;
}

.Link{
  text-decoration-line: none;
  height: 125px;
  display: flex;
  align-content: center;
  flex-direction: column
}

.buttonSize{
  display: flex;
  flex-direction: column;
  width: 250px;
  font-size: 28px;
  z-index: 0;
}

@media (max-width: 500px){
  .Home {
    max-width: 100%;
    background-position: center; 
    height: 125vh
  }

  .shadow{
    width: 50%;  
    height: 115vh;
    margin-left: 25%;
    /* margin-right: 20%; */
    background-attachment: fixed;
  }
  
}