.about1{
  z-index: 2;
  height: 250px;
  width: 500px;
  margin: 10%;
  margin-left: 36%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.abtn{
  font-size: 18px;
}

.contactInfo{
  margin: 10px;
}

@media (max-width: 500px){
  .about1 {
    max-width: 540px;
    position: relative;
    right: 40%;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.658)
}
}