.ProdcAppSea{
  background-image: url('http://epicwallpaperz.com/wallpaper-hd/sea-wallpapers-desktop-background-On-wallpaper-hd.jpg');
  position: sticky;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200vh;
}

@media (max-width: 500px){
  .ProdcAppSea{
    position: sticky;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500vh;
    background-position: center center
  }
  
}