.nav2{
  margin-top: 0px;
  width: 100%;
  background-color: rgba(3, 3, 3, 0.951);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top:0px;
  z-index: 2;
}

.nav-button2{
  color: white;
  font-size: 20px;
  border:none;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  padding: 25px
}

.StoreName2{
  margin-right: 70%;
  margin-top: 25px;
  font-size: 24px;
  text-shadow: 1px 1px black;
  color: gold;
  font-family: 'Raleway', sans-serif;
  position: relative;
  left: 50px;
  bottom:25px;
}

@media (max-width: 500px){
  .nav2 {
    font-size: 20px;
    right: 0;
    width: 100%;
    display: flex;
    align-items: space-between;
}

.nav-button2{
  color: white;
  font-size: 16px;
  border:none;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 0px;
  padding-right: 15px
}

.StoreName2{
  margin-right: 16%;
  margin-top: 25px;
  font-size: 24px;
  text-shadow: 1px 1px black;
  color: gold;
  font-family: 'Raleway', sans-serif;
  position: relative;
  
}
}