*{
  box-sizing: border-box;
  overflow:hidden;
}

.Tittle{
  display: flex;
  justify-content: start;
  padding-left: 4%;
  position: absolute;
  top: 40%;
  height: 150px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  animation-name: shadow;
  animation-duration: 1s;
}

.login{
  font-size: 2.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: whitesmoke;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.452);
  width: 10%;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  margin-top: 54px;
  height: 50px;
  transition: .5s;
  text-decoration: none;
  animation-name: login;
  animation-duration: 4s;
}

.login:hover{
  color: gold;
  transition: .5s;
}

.nav4{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  top: 20px;
  right: 20px;
}

.nav3{
  font-size:20px;
  margin: 20px;
  border:none;
  cursor: pointer;
}

.Store{
  color: gold;
  font-size: 3rem;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.493);
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  animation-name: storeName;
  animation-duration: 2s;
  position: relative;
  width: 400px;
}

.background{
  height: 99.72vh;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 6s;
}

@keyframes login{
  0%{opacity: 0}
  25%{opacity: 0}
  50%{opacity: 0}
  100%{opacity: 1}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@keyframes storeName{
  0% {left: -450px;}
  100% {left: 0px;}
}

@keyframes shadow{
  0% {opacity: 0;}
  25% {opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 1;}
}

@media (max-width: 500px){
  .LoginBackground {
    max-width: 540px;
    background-position: center center
}


.login{
  margin-left: 30px
}
}